@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  background: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  background: #fff;
  height: 70px;
  justify-content: space-between;
  flex-shrink: 0;
}

.icons {
  padding: 10px;
  color: #daaf39;
}

.browse-group {
  align-items: center;
  padding: 10px;
  display: flex;
  flex-shrink: 0;
}
.browse-group .browse {
  padding-right: 10px;
  border-right: 1px solid black;
}
.browse-group .search-input {
  background: transparent;
  border: none;
  font-size: 13px;
  width: 100px;
  color: #daaf39;
}

.title-group {
  display: flex;
  align-items: center;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  margin-right: 90px;
}
.title-group span {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

.user {
  display: flex;
  align-items: center;
}
.user .user-profile {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
.user .user-profile .profile {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}
.user .user-profile:before {
  content: "";
  position: absolute;
  background-color: #daaf39;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid white;
  right: 31px;
  top: 10px;
  border: 2px solid #fff;
}
.user .menu {
  flex-shrink: 0;
  padding: 0 15px 0 5px;
  border-left: 1px solid black;
}

.carousel {
  background: #fff;
}

.carousel-cell {
  color: black;
  position: relative;
  display: flex;
  padding: 2px;
  border-radius: 2px;
}

.flickity-viewport {
  overflow: visible;
}

.flickity-page-dots {
  display: none;
}

.product-photo {
  margin-top: 30px;
  margin-left: 10px;
  float: left;
  padding-right: 40px;
}
.product-photo .product {
  width: 120px;
  height: 175px;
  max-height: 180px;
  max-width: 180px;
  min-width: 100px;
  min-height: 100px;
  bottom: -35px;
  left: 35px;
  border-radius: 2px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  transition: 0.3s ease;
  background-size: cover;
}
.product-photo .product:hover {
  transform: scale(1.03);
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 60%;
}
.product-info .product-title {
  /* font-family: "Great Vibes", cursive; */
  font-size: 18px;
}
.product-info .product-actions .listen {
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 10px;
  /* background: white; */
  width: 120px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #1d1d1d55;
}
.product-info .product-actions .listen:hover {
  font-size: 15px;
  box-shadow: -2px 3px 10px 0px #7f818e;
}

.product-actions {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.popular-items {
  flex-grow: 1;
  padding: 0 30px 50px;
  overflow-y: auto;
}

.title {
  font-weight: bold;
}

.genre-menu {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.item-cards {
  margin-top: 20px;
}

.item-card {
  margin: 20px;
  background: white;
  height: 190px;
  padding: 10px;
  box-shadow: -2px 6px 19px 0px #7f818e;
}
.item-card:hover {
  transform: scale(1.03);
}

.smaller {
  font-size: 9.5px;
  margin-top: 0px;
  width: 60%;
}
.smaller .yellow {
  background: #daaf39;
}
.smaller:hover {
  cursor: pointer;
}